<section class="main container mx-auto my-4">
<div class="text-center mx-auto">
  <div class="mb-9">
  <h1 class="main-text">منتجاتنا المبتكرة</h1>
  <h5 class="opacity-70">ابتكارتنا التقنية في مختلف المجالات ستساعدك للإرتقاء بأعمالك </h5>
  </div>
  <div class="prod-1  rounded-md p-2">
    <div class="py-3">
      <h1 class="second-text">منصة وتطبيق متر</h1>
      <h5 class="opacity-70">أول منصة و تطبيق متخصصة بالاعمال و الخدمات المساحية و الهندسية حاصلة على<br> براءة اختراع محلية وعالمية </h5>
    </div>

    <div class="flex justify-center gap-3 py-6" >
      <div>
        <img  src="./assets/icons/ZenBook Duo 15.png" alt="">
      </div>
      <div>
        <img  src="./assets/icons/iPhone 13 .png" alt="">
      </div>

    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 my-7">

     <div class="prod-2 rounded-md ">
      <div class="py-3">
      <h1 class="second-text py-6">منصة ادارة الأصول و الممتلكات</h1>
      <h5 class="opacity-70">قم بتوثيق و إدارة و تتبع أصول منشأتك عبر <br>نظام موحد </h5>
      </div>
      <div class="flex justify-center">
        <img  src="./assets/icons/ZenBook Duo 14.png" alt="photo">
      </div>
    </div>
    <div class="prod-2 rounded-md">
      <div class="py-3">
      <h1 class="second-text py-6">النظام الإداري الموحد</h1>
      <h5 class="opacity-70">قم بإدارة منشأتك من خلال نظام موحد يسهل لك <br>ادارة اعمالك الفنية والإدارية و المالية.</h5>
    </div>
      <div class="flex justify-center">
        <div>
          <img src="./assets/icons/ZenBook Duo 14.png" alt="photo">
        </div>
        <div>
          <img src="./assets/icons/iPhone 13 Pro.png" alt="photo">
        </div>
      </div>
    </div>
  </div>
</div>
</section>

