.main
{
  width: 90%;
}
.main-text {
  font-size: xx-large;
  font-weight: bolder;
}
.second-text {
  font-size: large;
  font-weight: bolder;
}
.prod-1
{
  width: 100%;
  background-image: url('../../../assets/icons/Rectangle 4403 (1).jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.prod-2
{
  width: 100%;
  background-image: url('../../../assets/icons/Rectangle 4403 (1).jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60vh;
}
