<nav class="flex flex-col sm:flex-row justify-between items-center text-center gap-6">

  <!-- ازرار تسجيل الدخول -->
  <div class="flex flex-col sm:flex-row">
    <button class="btn bg-orange-400 text-white">
      <span class="text-default">تسجيل دخول</span>
      <span class="text-hover">تسجيل دخول</span>
    </button>

    <button class="btn bg-gray-50 text-orange-400 hover:text-white border border-orange-400">
      <span class="text-default">حساب جديد</span>
      <span class="text-hover">حساب جديد</span>
    </button>
  </div>

  <!-- اللينكات -->
  <div>
    <ul class="flex flex-col sm:flex-row gap-4 sm:gap-7 justify-center w-full sm:w-96 font-semibold">
      <li class="route"><a routerLink="">اتصل بنا</a></li>
      <li class="route"><a routerLink="">الخدمات</a></li>
      <li class="route"><a routerLink="">معلومات عنا</a></li>
      <li class="route"><a routerLink="" routerLinkActive="link-active">الرئيسية</a></li>
    </ul>
  </div>

  <!-- اللوجو -->
  <div class="flex flex-col sm:flex-row gap-4 items-center">
    <div>
      <img src="./assets/img/Group 1707479457.png" alt="Logo">
    </div>
    <div>
      <img src="./assets/img/Group 1965.png" alt="">
    </div>
  </div>

</nav>
