
<section class="container mx-auto py-5">
  <div class="main-text text-center mb-16">شركاء نجاح متر</div>
  <div class="flex justify-between items-center w-90 py-10">

    <div class="relative w-60 h-60">
      <div class="absolute left-0  overflow-hidden  transition-all duration-500 z-30 animate-main">
        <img src="./assets/icons/icon6.png" alt="icon 1" class="w-full h-full object-cover">
      </div>
          <div class="hidden absolute right-2 md:block h-12  w-[2px] bg-gray-300 opacity-40"></div>
    </div>

    <div class="relative w-60 h-60">
      <div class="absolute left-0   overflow-hidden  transition-all duration-500 z-30 animate-main">
        <img src="./assets/icons/icon11.png" alt="icon 2" class="w-full h-full object-cover">
      </div>
          <div class="hidden absolute right-2 md:block h-12  w-[2px] bg-gray-300 opacity-40"></div>

      <div class="absolute left-0   overflow-hidden  opacity-0 animate-sub1">
        <img src="./assets/icons/icon9.png" alt="icon 3 sub 1" class="w-full h-full object-cover">
      </div>


      <div class="absolute left-0   overflow-hidden  opacity-0 animate-sub2">
        <img src="./assets/icons/icon8.png" alt="icon 3 sub 2" class="w-full h-full object-cover">
      </div>
    </div>

    <div class="relative w-60 h-60">
      <div class="absolute left-0   overflow-hidden  transition-all duration-500 z-30 animate-main">
        <img src="./assets/icons/icon2.png" alt="icon 3" class="w-full h-full object-cover">
      </div>
                <div class="hidden absolute right-2 md:block h-12  w-[2px] bg-gray-300 opacity-40"></div>

      <div class="absolute left-0   overflow-hidden  opacity-0 animate-sub2">
        <img src="./assets/icons/icon10.png" alt="icon 3 sub 2" class="w-full h-full object-cover">
      </div>
    </div>

    <div class="relative w-60 h-60">
      <div class="absolute left-0   overflow-hidden  transition-all duration-500 z-30 animate-main">
        <img src="./assets/icons/icon4.png" alt="icon 3" class="w-full h-full object-cover">
      </div>

      <div class="absolute left-0   overflow-hidden  opacity-0 animate-sub1">
        <img src="./assets/icons/icon7.png" alt="icon 3 sub 1" class="w-full h-full object-cover">
      </div>

    </div>

    <div class="relative  w-40 h-60">

      <div class="absolute left-0   overflow-hidden  transition-all duration-500 z-30 animate-main">
        <img src="./assets/icons/icon1.png" alt="icon 3" class="w-full h-full object-cover">
      </div>

      <div class="absolute left-0   overflow-hidden  opacity-0 animate-sub1">
        <img src="./assets/icons/icon3.png" alt="icon 3 sub 1" class="w-full h-full object-cover">
      </div>

      <div class="absolute left-0   overflow-hidden  opacity-0 animate-sub2">
        <img src="./assets/icons/icon5.png" alt="icon 3 sub 2" class="w-full h-full object-cover">
      </div>
    </div>

  </div>
</section>
